<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab esse placeat possimus? Dolorum alias in consequatur molestias? Accusantium doloremque mollitia recusandae atque, deleniti qui nesciunt possimus optio quae rerum ex!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab esse placeat possimus? Dolorum alias in consequatur molestias? Accusantium doloremque mollitia recusandae atque, deleniti qui nesciunt possimus optio quae rerum ex!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab esse placeat possimus? Dolorum alias in consequatur molestias? Accusantium doloremque mollitia recusandae atque, deleniti qui nesciunt possimus optio quae rerum ex!</p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>